<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rxcqh5.cs.mc">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- x5内核 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- android8:检测来保护web浏览的安全性 -->
    <meta-data
        android:name="android.webkit.WebView.EnableSafeBrowing"
        android:value="true" />

    <!-- SDK权限开始 -->

    <!-- sdk权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
   <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <!-- SDK权限结束 -->

    <application
        android:name="com.mc.h5game.activity.H5Application"
        android:allowBackup="true"
        android:resizeableActivity="true"
        android:hardwareAccelerated="true"
        android:icon="${app_icon}"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--进行第三方库初始化，减少启动时间-->
        <service android:name="com.mc.h5game.x5.InitializeService"></service>

        <!--     在AndroidManifest.xml中增加内核首次加载时优化Service声明；    该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束。  -->
        <service
        android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
        android:label="dexopt"
        android:process=":dexopt" ></service>


        <!-- 设置屏幕高宽比例  刘海屏手机的「宽高比」 -->
        <meta-data android:name="android.max_aspect" android:value="2.5" />
        <!-- 华为新增的Meta-data属性  刘海屏-->
        <meta-data android:name="android.notch_support" android:value="true"/>

        <activity
            android:name="com.mc.h5game.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:theme="@style/SplashTheme"
            >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>


        <activity android:name="com.mc.h5game.activity.SplashHtmlActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.mc.h5game.activity.WebMainHtmlActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>

        <activity
            android:name="com.mc.h5game.activity.WebMainHtmlTestActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>


        <activity
            android:name="com.mc.h5game.activity.WebMainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >

        </activity>

        <activity
            android:name="com.mc.h5game.activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >

        </activity>


        <!-- 加载web支付 -->
        <activity
            android:name="com.proxy.activity.StartWebView"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Light" />

        <activity
            android:name="com.proxy.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            />

        <!--sdk配置开始-->


        <activity
            android:name="com.game.sdk.activity.AutomaticLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/McTheme.FloatActivity"

            />

        <activity
            android:name="com.game.sdk.activity.AutoLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.game.sdk.activity.BindCellActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.game.sdk.activity.FastLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.game.sdk.activity.ForgotPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.game.sdk.activity.PasswordUpdateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />


        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <!-- alipay sdk end -->

        <!-- 在AndroidManifest.xml中增加内核首次加载时优化Service声明；    该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束。  -->
      <!--  <service
        android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
        android:label="dexopt"
        android:process=":dexopt" ></service>-->


    </application>

</manifest>